.reset {
  all: revert;
}

ol {
  counter-reset: section;
}
ol li {
  counter-increment: step-counter;
}
ol li::before {
  content: counter(step-counter);
}

.modal-backdrop
{
  background: rgba(0, 0, 0, 0.4) !important;
    opacity:0.5 !important;
}